/* ---- Header Nav Bar ---- */

#header_nav {
	height:35px;
	background-color: #585858;
	color:#CCCCCC;
	padding:0;
	margin:0;
	width:100%;
}

#header_nav a {
	color:#CCCCCC !important;
	text-decoration:none;
	display:inline-block;
	height:30px;
	padding: 0px 10px 0px 10px;
}

#header_nav a:hover {
	background-color:#CCCCCC;
	color:#000000 !important;
	text-decoration:none;
}

#header_nav ul#header_nav_left a:hover {
	background-color:transparent;
	color:#CCCCCC !important;
}

#header_nav img {
	border: 1px solid #CCCCCC;
	vertical-align:middle;
}

#header_nav img {
	border: 0;
	vertical-align:middle;
	margin:0;
}


#header_nav_left {
	float: left;
	height: 25px;
	font-size:20px;
	font-weight:bold;
	padding:5px 100px;
	margin:0;
}

#header_nav_left li {
	list-style-type: none;
	display: inline;
}

#header_nav_right {
	padding:2px 100px;
	margin:0;
}

#header_nav_right li {
	list-style-type: none;
}

#header_nav_right li.header_nav_user a {
	padding: 4px 5px 0 5px;
	height: 26px;
}

#header_nav_right li.header_nav_has_dropdown a span.header_nav_icon {
	float: right;
	width: 14px;
	height: 14px;
	background-position: center -24px;
	margin: 11px 5px 0;
}

#header_nav_right li .header_nav_dropdown {
	position:absolute;
	z-index: 10;
	right: 100px;
	text-align: left;
	border: 1px solid #444444;
	border-top: 0px;
	background: #585858;
	padding: 5px 0;
	float:right;
	top:30px;
}

#header_nav_right li .header_nav_dropdown ul {
	margin: 0;
}

#header_nav_right li .header_nav_dropdown #userpass_form ul {
	padding-bottom: 7px;
	margin-bottom: 7px;
	border-bottom: 1px solid #fff;
}

#header_nav .header_nav_user {
	float:right;
	clear:right;
}

#header_nav_left h1 {
	font-size:100%;
	font-weight:normal;
	margin:0;
	padding:0;
}

#header_nav .left_bar, header .right_bar {
	float: left;
	height: 30px;
	background-color:red;
}

#header_nav .center {
	float: left;
	margin: 0;
}

#header_nav .logo {
	vertical-align:middle;
}

#header_nav .logo a {
	display: block;
	width: 25px;
	height: 25px;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
	padding-right: 5px;
	margin: 0px 15px;
}

#header_nav .logo a:hover {
	opacity: 0.7;
	background-color: transparent;
}

#header_nav .nodisplay, .label {
	display: none;
}

#header_nav label {
	display: block;
	padding: 5px 0px 0px 15px;
}

#header_nav input {
	display: block;
	margin: 0px 15px;
}

#header_nav input.header_nav_login_btn {
	margin-top: 8px;
}

#header_nav .bignext {
	font-size:20px;
}

body {
	margin:0;
	padding:0;
}

form#header_nav_userforgot_form {
	display:none;
}

/* progress bar */

#progressbar
{
  width:95%;
  padding:1px;
  background-color:white;
  border:1px solid black;
  height:28px;
  margin:5px;
  border-radius: 5px;
}

#indicator
{
  background-color:#EC008C;  
  height:28px;
  margin:0;
  border-radius: 5px;
}

.dash-container {
    clear: right;
    float: left;
    width: 100%;
    background: #fff;
//    border: 1px solid #f00; 
}

.dash-stats {
    font-size: 150%;
    width: 16.72%;
    float: left;
    text-align: center;
    border: 1px solid #fff;
    background: #ddd;
	border-radius: 5px;
}

.assignments-container {
    padding: 10px;
    width: 90%;
    float: left;
    border: 1px solid #fff;
    background: #ddd;
	border-radius: 5px;
}

.assignments-container h3{
	padding:0 0px;
	font-size:150%;
	line-height:20px;
	color:#555555;
}



.dash-number {
    font-size: 200%;
}


/* from the facebook app css :/ */

.regular_checkbox {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 10px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 18px;
    border-radius: 30px;
    display: inline-block;
    position: relative;
}

.regular_checkbox:active, .regular_checkbox:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
 
.regular_checkbox:checked {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}

.regular_checkbox:checked:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: #99a1a7;
}

.big_checkbox {
    padding: 18px;
}
 
.big_checkbox:checked:after {
    font-size: 28px;
    left: 6px;
}

input.littlej_text_input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: black -moz-use-text-color #000000 black;
    border-image: none;
    border-left: 1px solid black;
    border-radius: 0 0 0 0;
    border-right: 0 none;
    border-style: solid none solid solid;
    border-width: 1px 0 1px 1px;
    color: #5C5C5C;
    float: left;
    height: 38px;
    left: 0;
    line-height: 18px;
    margin: 0;
    padding: 5px 5px 8px !important;
    position: relative;
    top: 0;
    width: 100%;
    font-family: "Rokkitt";
    font-size: 150%;
}

textarea.littlej_text_input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: black -moz-use-text-color #000000 black;
    border-image: none;
    border-left: 1px solid black;
    border-radius: 0 0 0 0;
    border-right: 0 none;
    border-style: solid none solid solid;
    border-width: 1px 0 1px 1px;
    color: #5C5C5C;
    float: left;
    height: 138px;
    left: 0;
    line-height: 18px;
    margin: 0;
    padding: 5px 5px 8px !important;
    position: relative;
    top: 0;
    width: 90%;
    font-family: "Rokkitt";
    font-size: 150%;
}

input.button {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -webkit-box-align: center;
    background-color: #ec008c;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff50cc), to(#ec008c));
    background-image: -webkit-linear-gradient(top, #ff50cc, #ec008c);
    background-image: -o-linear-gradient(top, #ff50cc, #ec008c);
    background-image: linear-gradient(to bottom, #ff50cc, #ec008c);
    background-image: -moz-linear-gradient(center top , #ff50cc, #ec008c);
    background-repeat: repeat-x;
//    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    border-color: #000000 #000000 #000000 rgba(0, 0, 0, 0.1);
    border-image: none;
    border-left: medium none rgba(0, 0, 0, 0.1);
    border-right: 1px solid #000000;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px medium;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    letter-spacing: 1px;
    line-height: 18px;
    margin: 0;
    max-height: 38px;
    min-width: 48px;
    padding: 9px 12px !important;
    right: 0;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    top: 0;
    width: 90%;
    z-index: 2;
}

input.button:hover {
    background-color: #168B47;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#bc105c), to(#ac004c));
    background-image: -webkit-linear-gradient(top, #bc105c, #ac004c);
    background-image: -o-linear-gradient(top, #bc105c, #ac004c);
    background-image: linear-gradient(to bottom, #bc105c, #ac004c);
    background-image: -moz-linear-gradient(center top , #bc105c, #ac004c);
    color: #FFFFFF;
}
input.button:active {
    background-image: -moz-linear-gradient(center top , #ec008c, #ec008c);
}

select.littlej {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: black -moz-use-text-color #000000 black;
    border-image: none;
    border-left: 1px solid black;
    border-radius: 0 0 0 0;
    border-right: 0 none;
    border-style: solid none solid solid;
    border-width: 1px 0 1px 1px;
    color: #5C5C5C;
    float: left;
    font-family: "Rokkitt";
    font-size: 150%;
    height: 38px;
    left: 0;
    line-height: 18px;
    margin: 0;
    padding: 5px 5px 8px !important;
    position: relative;
    top: 0;
    width: 90%;
    z-index: 1;
}





/* map */
div.map {
    border: #999 1px solid;
    width: 100%;
    height: 566px;
	position:relative;
}
#mapStatus
{
	float: left;
	background-color: #e1e1e1;
	border-left: solid 1px #999;
	border-right: solid 1px #999;
	border-bottom: solid 1px #999;
	font-size: 10px;
	width: 100%;
}
#mapStatus div
{
	float: left;
	display: inline-block;
	padding: 4px 6px 4px 6px;
}
#mapOutput sup
{
	height: 0;
	line-height: 1;
	vertical-align: text-top;
	_vertical-align: text-top;
	position: relative;
	font-size: 8px;
}

/* category filters */
div.cat-filters{
    font-size: 85%;
    text-transform: uppercase;
    margin: 0 0 15px 0;
}

div.cat-filters strong{
    float: left;
    margin: 0 10px 0 0;
    background: url(../images/cat-filters-bg.jpg) 0 3px no-repeat;
    padding: 0 0 0 10px;
}

div.cat-filters span{
    font-weight:normal;
    font-size:90%;
    margin-left:5px;
    color:#666;
    letter-spacing:2px;
}
div.cat-filters span a{
    color:#666;
}

ul.category-filters{
    background: #E7E3DA;
    border-top: #C7C2BC 7px solid;
    border-bottom: #C7C2BC 7px solid;
    list-style: none;

}

ul.category-filters li{
    padding: 0;
    margin-bottom: 2px;
    list-style-type:none;
}

ul.category-filters li a{
    display: block;
    padding: 2px 2px 2px 2px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: #3F3F3F;
    border: #E7E3DA 1px solid;
    position: relative;
    line-height: 17px;
    overflow: hidden;
}

ul.category-filters li a:hover, ul.category-filters li a.active {
    color: #FFFFFF;
    background-color: #3484AC;
    border: #3484AC 1px solid;
}

ul.category-filters li.child{
    display:none;
}

/* Reports */

#main .left-col { float:left; width:520px; margin-right:20px }
#main .right-col { float:right;width:350px; }

div.report-details{
    width: 300px;
    float: right;
    margin: 20px 0 0 0;
}

.report_detail .r_verified, .report_detail .r_unverified {
    color:#FFFFFF;
    font-size:11px;
    font-weight:bold;
    display:block;
    float:right;
    margin:4px 0 0 18px;
    padding:3px 5px;
    text-align:center;
    text-transform:uppercase;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

.report_detail .r_verified { background:#368C00; }
.report_detail .r_unverified { background:#A60003; }

.report_detail .r_location { background: transparent url(../images/icon_sprite.png) -5px -163px no-repeat; }
.report_detail .r_date { background: transparent url(../images/icon_sprite.png) -4px -133px no-repeat; }

.report-when-where { color:#908B88; margin-bottom:10px; }
.report-when-where span { padding:3px 5px 3px 18px;  } 

div.report-category-list {
    border-top:1px dotted #C0C2B8;
    border-bottom:1px dotted #C0C2B8;
    padding:10px 0px;
    overflow:auto;
}

div.report-category-list a {
    font-size:11px;
    padding:1px 5px;
    margin:0px 5px 5px 0;
    background:#fffded;
    display:inline-block;
    float:left;
    line-height:18px;
    color:#828784;
}

div.report-category-list a:hover { text-decoration:none; color:#333; }
div.report-category-list a span.r_cat-box { height:16px; width:16px; display:inline-block; margin:3px 3px 3px 0; }

div.report-media { padding:10px 0; border-bottom:1px dotted #C0C2B8;; }

#report-images { } 
#report-video { padding:10px 0 0 0; } 
#report-video ol { overflow:auto; }
#report-video ol li { float:left; display:list-item; list-style-position:inside; margin-right:10px; }

div.report-description-text {
    padding:10px 0;
    margin-bottom:18px;
}

div.report-description-text h5 {
    padding:0px 0px 5px 0px;
    margin:0px;
    font-size:14px;
    text-transform: capitalize;
}

div.report-description-text .feature_label,
div.report-description-text .feature_comment{
    font-size:90%;
    margin:0 0 0 10px;
    padding:3px;
    background-color:#fffded;
}
div.report-description-text .feature_label{
    font-weight:bold;    
}

div.report-description-text .feature_comment{
    font-size:90%;
}

div.credibility {
    margin-top:10px;
    padding:3px;
    border-top:1px dotted #C0C2B8;
}

div.report-title {
    padding-bottom:0px;
}

div.report-comments {
    border-bottom:#000000 dotted 1px;
    padding:5px 0px;
}

div.report-comments h5 {
    padding:0px 0px 5px 0px;
    margin:0px;
    font-size:14px;
    text-transform: capitalize;
}

div.report-comment-box {
    margin-bottom:15px;
    padding:5px 0 0 10px;
    
}

div.comment-block {
    padding:5px 0px; background:#F2F2F2;
}

div.comment-block h5 {
    padding:0px 0px 5px 0px;
    margin:0px;
    font-size:14px;
    text-transform: capitalize;
}

div.comment-block form { padding:0 0 0 10px; }

div.report-media-box-tabs { float:right;  }
div.report-media-box-tabs ul { list-style: none; padding: 0; margin: 0; float:left; }
div.report-media-box-tabs li { display:inline; list-style-type:none; margin: 0 0 0 2px; text-align:right; }
div.report-media-box-tabs a {
    display: inline-block;
    padding: 2px 7px;
    font-weight:bold;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom:0;
}
div.report-media-box-tabs a:hover { text-decoration:none; cursor:pointer; color:#333; }
div.report-media-box-tabs .report-tab-selected { }
div.report-media-box-tabs .report-tab-selected a { background:#C0C2B8; color:#333; }
div.report-media-box-tabs .report-tab-selected a:hover { text-decoration:none; } 

div.report-media-box-content {
    clear: both;
    padding:5px 0px;
}

div.report-media-box {
}

/* Map Toggles */
ul.map-toggles { overflow:auto; }
ul.map-toggles li { display:none; float:right; list-style-type: none; }

ul.map-toggles li a, 
ul.map-toggles li a:active { display:inline-block; padding:3px 5px 3px 17px; outline:none; }

a.wider-map { background:transparent url(../images/icon_sprite.png) -4px -202px no-repeat; }
a.taller-map { background:transparent url(../images/icon_sprite.png) -4px -221px no-repeat; }
a.shorter-map { background:transparent url(../images/icon_sprite.png) -4px -241px no-repeat; }
a.smaller-map { background:transparent url(../images/icon_sprite.png) -4px -182px no-repeat; }
    
div.report-additional-reports { padding-top: 5px; border-bottom:1px dotted #C0C2B8; }
div.report-additional-reports .rb_report {  }

div.report-additional-reports h4 {
    padding:0px 0px 5px 0px;
    margin:0px;
    font-size:14px;
    text-transform: capitalize;
}

div.report-additional-reports h5 { font-size:12px; margin:4px 120px 2px 0; }
div.report-additional-reports .r_date { font-size:10px; background:#f2f2f2 url(../images/icon_sprite.png) 0px -133px no-repeat; }
div.report-additional-reports .r_location { font-size:10px; padding:3px 0 3px 18px; color:#828784; }
div.report-details ul.details{ list-style: none; }

div.report-details ul.details li{
    list-style: none;
    border-bottom: #EEEEEE 1px solid;
    padding: 5px 0;
    color: #666666;
    font-size: 11px;
}

div.report-details ul.details li small{
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    margin: 0 0 5px 0;
}

div.report-details ul.details li a{
    background: #E2E2E2;
    padding: 1px 4px 2px 4px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #004276;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    text-decoration: underline;
}

div.report-details ul.details li a:hover{ text-decoration: none; }

.photos { font-size: 40px; padding: .3em; }
.photos img { vertical-align: bottom; }

/* reports description */
div.report-description{
    border: #E8E4DB 5px solid;
    border-top: 0;
    margin: 0px 30px 20px 30px;
}

div.report-description h5{
    margin: 10px 0px 0px 15px;
    padding: 0px;
    text-transform: uppercase;
    font-size:12px;
}

div.report-description h3{
    background: #C7C3BC;
    color: #393535;
    padding: 0;
    margin: 0 -5px;
    padding: 5px 10px;
}

div.report-description div.content{
    background: #F9F8F5;
    border: #DDDCDC 1px dashed;
    margin: 5px 15px 15px 15px;
    padding: 10px 15px;
    font-size: 14px;
}

div.report-description div.credibility{
    margin: 10px 0 0 20px;
}

div.report-description div.additional-reports{
    margin: 15px;
}

div.report-description div.additional-reports a{
    color: #004276;
    text-decoration: underline;
}

div.additional-reports{
    margin: 15px;
    padding: 0px;
}

/* table list */
table.table-list{
    width: 100%;
}

table.table-list, table.table-list td{
    border-collapse: collapse;
}

table.table-list thead th{
    color: #666666;
    padding: 5px;
    text-align: left;
    text-transform: uppercase;
    font-size: 11px;
}

table.table-list thead th.title{
    width: 60%;
}

table.table-list thead th.location{
    width: 20%;
}

table.table-list thead th.source{
    width: 20%;
}

table.table-list thead th.date{
    width: 15%;
}

table.table-list tbody tr td{
    padding: 5px;
    font-size: 11px;
    border-bottom: #EEEEEE 1px solid;
    vertical-align: top;
}

table.table-list tbody tr td a{
    color: #0099CC;
}

div.location{
    float: right;
    width: 302px;
}

div.report-map{
        margin-bottom:10px;
}
div.incident-notation{
    margin: 0 0 5px 0;
}

div.incident-notation ul{
    list-style: none;
    float: right;
}

div.incident-notation ul li{
    list-style: none;
    float: left;
    margin-left: 20px;
    color: #999966;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
}


/* media files */
.report-map .map-holder {
    clear:both;
    width:348px;
    height:350px;
    border: 1px solid #C0C2B8;
    border-bottom:2px solid #C0C2B8;
}


.more{
    float: right;
    margin: 20px 20px 10px 10px;
    color: #004276;
    font-weight: bold;
    text-decoration: underline;
}

.swatch {
    float:left;
    height:16px;
    margin-right: 8px;
    width:16px;
    border:1px solid white;
}

.category-title {
    padding-left: 0;
}

.report_left{ float:left; width:450px; margin:20px 0 0; padding:0 0 10px; }
.report_left table { width: 100%; }
.report_left table tr th { text-align: left; }

.report_block{ margin: 20px 0 20px 25px; }
.report_block table tr th { text-align: left; }

.report_right{ overflow:hidden; width:455px; margin:20px 0 0 25px; padding:0 0 10px; }
.report_right table { width: 100%; }
.report_right table tr th { text-align: left; }

.report-description table { width: 100%; }
.report-description table tr th { text-align: left; padding:5px; background:#E8E4DB; border-collapse:collapse; }
.report-description table tr td { padding:0 5px; }
.report-description table tr td a { display:block; padding:5px 0; }
.report-description table tr:hover { background:#f8f6f2; }

th.w-01, th.w-02 { border-right:1px dotted #fff; text-transform:capitalize; }
td.w-01, td.w-02 { border-right:1px dotted #E8E4DB; border-bottom:1px dotted #E8E4DB; text-transform:capitalize;  }
td.w-03 { border-bottom:1px dotted #E8E4DB; text-transform:capitalize; }

.w-01 { width:50%; padding:0 10px 0 0; text-transform:capitalize; }
.w-02 { width:320px; padding:0 10px 0 0; text-transform:capitalize; }

.report_bottom { clear:both; }

.report_row { margin:0 0 15px 0; clear:both; }
.report_row h4 { margin:0 0 5px 0; padding:0; font-size:120%; font-weight:bold; }
.report_row h4 .example{ font-weight: normal; font-size: 10px; line-height: 12px; color: #a1a1a1; }
.report_row .date-box{ float:left; margin-right:10px; }
.report_row .date-box img{ padding:0 5px 0 5px; }
.report_row .time{ float:left; }
.report_row .optional-info{ float:left; margin-right:10px; }

.report_category { clear:both; overflow:hidden; font-size:90%; }
.report_category ul{ width:50%; float:left; margin:0; padding:0 0 11px; }
.report_category ul li{ overflow:hidden; list-style:none; }
.report_category ul li label{ color:#555; }

/*Categories Tree*/
.report_category ul ul { width: auto; float: none; }
.report_category ul li.sub_category { padding-left: 47px; }
.report_category ul li.sub_category_last { background-position: 16px -1766px; }
.report_category ul li input.check-box { margin: 0 3px 0 0; }
.report_category ul li.hover,
.report_category ul li li:hover { background-color: #efefef; }

ul.treeview li.lastCollapsable,
ul.treeview li.lastExpandable { width:155px; }

.report_optional{
    padding:15px;
    background-color:#eee;
    width:80%;
}
.report_optional h3 {
    margin:0 0 15px 0;
    padding:0;
    font-size:130%;
    color:#999;
    font-weight:bold;
}
.report_comment, .contact{
    border:1px #ccc solid;
    padding:20px;
    background:#eee;
    clear:both;
    overflow:hidden;
}
.report_rating{ margin:15px 0 0 10px; font-size:90%; }
.report_rating div{ float:left; margin-right:3px; }

.rating_value{
    height:14px;
    font-weight:bold;
    text-align:center;
    background-color:#666;
    color:#fff;
    padding:0 4px 0 4px;
}
.rating_loading{
    margin:0 0 0 10px;
}

