/* ---- Header Nav Bar ---- */

#header_nav {
	height:35px;
	background-color: #585858;
	color:#CCCCCC;
	padding:0;
	margin:0;
	width:100%;
}

#header_nav a {
	color:#CCCCCC !important;
	text-decoration:none;
	display:inline-block;
	height:30px;
	padding: 0px 10px 0px 10px;
}

#header_nav a:hover {
	background-color:#CCCCCC;
	color:#000000 !important;
	text-decoration:none;
}

#header_nav ul#header_nav_left a:hover {
	background-color:transparent;
	color:#CCCCCC !important;
}

#header_nav img {
	border: 1px solid #CCCCCC;
	vertical-align:middle;
}

#header_nav img {
	border: 0;
	vertical-align:middle;
	margin:0;
}


#header_nav_left {
	float: left;
	height: 25px;
	font-size:20px;
	font-weight:bold;
	padding:5px 100px;
	margin:0;
}

#header_nav_left li {
	list-style-type: none;
	display: inline;
}

#header_nav_right {
	padding:2px 100px;
	margin:0;
}

#header_nav_right li {
	list-style-type: none;
}

#header_nav_right li.header_nav_user a {
	padding: 4px 5px 0 5px;
	height: 26px;
}

#header_nav_right li.header_nav_has_dropdown a span.header_nav_icon {
	float: right;
	width: 14px;
	height: 14px;
	background-position: center -24px;
	margin: 11px 5px 0;
}

#header_nav_right li .header_nav_dropdown {
	position:absolute;
	z-index: 10;
	right: 100px;
	text-align: left;
	border: 1px solid #FFFFFF;
	border-top: 0px;
	background: #585858;
	padding: 5px 0;
	float:right;
	top:30px;
	
	-moz-box-shadow: 1px 1px 1px #CCC;
	-webkit-box-shadow: 1px 1px 1px #CCC;
	-o-box-shadow: 1px 1px 1px #CCC;
	
	box-shadow: 1px 1px 1px #CCC;
}

#header_nav_right li .header_nav_dropdown ul {
	margin: 0;
}

#header_nav_right li .header_nav_dropdown #userpass_form ul {
	padding-bottom: 7px;
	margin-bottom: 7px;
	border-bottom: 1px solid #fff;
}

#header_nav .header_nav_user {
	float:right;
	clear:right;
}

#header_nav_left h1 {
	font-size:100%;
	font-weight:normal;
	margin:0;
	padding:0;
}

#header_nav .left_bar, header .right_bar {
	float: left;
	height: 30px;
	background-color:red;
}

#header_nav .center {
	float: left;
	margin: 0;
}

#header_nav .logo {
	vertical-align:middle;
}

#header_nav .logo a {
	display: block;
	width: 25px;
	height: 25px;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
	padding-right: 5px;
	margin: 0px 15px;
}

#header_nav .logo a:hover {
	opacity: 0.7;
	background-color: transparent;
}

#header_nav .nodisplay, .label {
	display: none;
}

#header_nav label {
	display: block;
	padding: 5px 0px 0px 15px;
}

#header_nav input {
	display: block;
	margin: 0px 15px;
}

#header_nav input.header_nav_login_btn {
	margin-top: 8px;
}

#header_nav .bignext {
	font-size:20px;
}

body {
	margin:0;
	padding:0;
}

form#header_nav_userforgot_form {
	display:none;
}

/* progress bar */

#progressbar
{
  width:95%;
  padding:1px;
  background-color:white;
  border:1px solid black;
  height:28px;
  margin:5px;
  border-radius: 5px;
}

#indicator
{
  background-color:#EC008C;  
  height:28px;
  margin:0;
  border-radius: 5px;
}

.dash-container {
    clear: right;
    float: left;
    width: 100%;
    background: #fff;
//    border: 1px solid #f00; 
}

.dash-stats {
    font-size: 150%;
    width: 16.72%;
    float: left;
    text-align: center;
    border: 1px solid #fff;
    background: #ddd;
	border-radius: 5px;
}

.assignments-container {
    padding: 10px;
    width: 90%;
    float: left;
    border: 1px solid #fff;
    background: #ddd;
	border-radius: 5px;
}

.assignments-container h3{
	padding:0 0px;
	font-size:150%;
	line-height:20px;
	color:#555555;
}



.dash-number {
    font-size: 200%;
}


/* from the facebook app css :/ */

.regular_checkbox {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 10px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 18px;
    border-radius: 30px;
    display: inline-block;
    position: relative;
}

.regular_checkbox:active, .regular_checkbox:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
 
.regular_checkbox:checked {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}

.regular_checkbox:checked:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: #99a1a7;
}

.big_checkbox {
    padding: 18px;
}
 
.big_checkbox:checked:after {
    font-size: 28px;
    left: 6px;
}

input.littlej_text_input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: black -moz-use-text-color #000000 black;
    border-image: none;
    border-left: 1px solid black;
    border-radius: 0 0 0 0;
    border-right: 0 none;
    border-style: solid none solid solid;
    border-width: 1px 0 1px 1px;
    color: #5C5C5C;
    float: left;
    height: 38px;
    left: 0;
    line-height: 18px;
    margin: 0;
    padding: 5px 5px 8px !important;
    position: relative;
    top: 0;
    width: 100%;
    font-family: "Rokkitt";
    font-size: 150%;
}

textarea.littlej_text_input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: black -moz-use-text-color #000000 black;
    border-image: none;
    border-left: 1px solid black;
    border-radius: 0 0 0 0;
    border-right: 0 none;
    border-style: solid none solid solid;
    border-width: 1px 0 1px 1px;
    color: #5C5C5C;
    float: left;
    height: 138px;
    left: 0;
    line-height: 18px;
    margin: 0;
    padding: 5px 5px 8px !important;
    position: relative;
    top: 0;
    width: 90%;
    font-family: "Rokkitt";
    font-size: 150%;
}

input.button {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -webkit-box-align: center;
    background-color: #ec008c;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff50cc), to(#ec008c));
    background-image: -webkit-linear-gradient(top, #ff50cc, #ec008c);
    background-image: -o-linear-gradient(top, #ff50cc, #ec008c);
    background-image: linear-gradient(to bottom, #ff50cc, #ec008c);
    background-image: -moz-linear-gradient(center top , #ff50cc, #ec008c);
    background-repeat: repeat-x;
//    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    border-color: #000000 #000000 #000000 rgba(0, 0, 0, 0.1);
    border-image: none;
    border-left: medium none rgba(0, 0, 0, 0.1);
    border-right: 1px solid #000000;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px medium;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    letter-spacing: 1px;
    line-height: 18px;
    margin: 0;
    max-height: 38px;
    min-width: 48px;
    padding: 9px 12px !important;
    right: 0;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    top: 0;
    width: 90%;
    z-index: 2;
}

input.button:hover {
    background-color: #168B47;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#bc105c), to(#ac004c));
    background-image: -webkit-linear-gradient(top, #bc105c, #ac004c);
    background-image: -o-linear-gradient(top, #bc105c, #ac004c);
    background-image: linear-gradient(to bottom, #bc105c, #ac004c);
    background-image: -moz-linear-gradient(center top , #bc105c, #ac004c);
    color: #FFFFFF;
}
input.button:active {
    background-image: -moz-linear-gradient(center top , #ec008c, #ec008c);
}

select.littlej {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: black -moz-use-text-color #000000 black;
    border-image: none;
    border-left: 1px solid black;
    border-radius: 0 0 0 0;
    border-right: 0 none;
    border-style: solid none solid solid;
    border-width: 1px 0 1px 1px;
    color: #5C5C5C;
    float: left;
    font-family: "Rokkitt";
    font-size: 150%;
    height: 38px;
    left: 0;
    line-height: 18px;
    margin: 0;
    padding: 5px 5px 8px !important;
    position: relative;
    top: 0;
    width: 90%;
    z-index: 1;
}





/* map */
div.map {
    border: #999 1px solid;
    width: 573px;
    height: 366px;
	position:relative;
}
#mapStatus
{
	float: left;
	background-color: #e1e1e1;
	border-left: solid 1px #999;
	border-right: solid 1px #999;
	border-bottom: solid 1px #999;
	font-size: 10px;
	width: 573px;
}
#mapStatus div
{
	float: left;
	display: inline-block;
	padding: 4px 6px 4px 6px;
}
#mapOutput sup
{
	height: 0;
	line-height: 1;
	vertical-align: text-top;
	_vertical-align: text-top;
	position: relative;
	font-size: 8px;
}

